body {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
}

#myCarousel < * {
    height: 100vh;
}

#profilePic {
    border-radius: 5%;
}

.nav-link {
    color: #35155D;
}

.nav-link:hover {
    background-color: #bababa;
    color: #35155D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
    font-size: 2rem;
}

#navbar {
    background-color: #d3d3d3;
}

#hero {
    border-bottom: 1px solid grey;
    background: linear-gradient(-45deg, #35155d, #d3d3d3, #512b81, #8CABFF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.bttn {
    background: linear-gradient(-45deg, #35155d, #d3d3d3, #512b81, #8CABFF);
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    border: 1px solid #35155d;
    float: right;
    font-size: 1rem;
    padding: 5px;
}

.bttn:hover {
    border: 1px solid #bababa;
    color: #bababa;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#myWork, body, #info {
    background-color: #d3d3d3;
}

.headerWork {
    border-bottom: 1px solid #35155d;
}

.link {
    text-decoration: none;
}

.card-link {
    background-size: 100%;
}

.card-link:hover {
    background-size: 150%;
    background-position: center;
}

.web {
    list-style-type: none;
}

#cv {
    color: black;
}

#cv:hover {
    color: #35155d;
    font-size: 1.1rem;
}

@media (max-width: 600px) {
    #profilePic {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer {
        justify-content: start;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5rem;
        font-weight: bold;
    }
}